#date {
    font-size: 30px;
    color: #333;
    /* display: flex; */
    /* justify-content: right; */
    padding: 20px;
    font-weight: bold;
}
#dateContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
