.commentBox {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: lightgray;
    border-radius: 5px;
    padding:20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    height: 200px;
}

#usernameBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}
#usernameIdentifier {
    width: auto;
    color: #333;
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    margin-right: 10px;
    padding: 0px;
    text-align: left;
    /* padding: 20px; */
}
#username {
    flex-grow: 1;
    height: 30px;
    border: 0px;
    text-align: left;
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
    /* font-style: italic; */
    outline: none;
    padding:0;
    margin:0;
    
}

#comment {
    width: 100%;
    height: 50%;
    border-radius: 5px;
    border: 0px;
    resize: none;
    background-color: lightgray;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); */
    outline:none;
    /* font-style: italic; */
    padding: 20px;
    font-family: Roboto;
    
}

textarea::-webkit-scrollbar-track {
    background: transparent; 
}



#submit {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    margin:0px;
    border: 0px;
    font-weight: bold;
}
#submit:hover{
    filter:brightness(0.95);
    cursor: pointer;
}
#submit:active{
    filter:brightness(0.8);
}
::placeholder {
    font-style: italic;
    font-weight: normal;
}


#submission{
    display: flex;
    justify-content: right;
    margin-top: 20px;
    margin-bottom: 0px;
}
